html {
    height: 100%;
}

body {
    background-image: url("../images/diamonds.jpg");
    background-position: center;
    background-position-y: 100%;
    background-size: 183vh;
    background-repeat: no-repeat;
    background-color: black;
    font-family: fantasy;
}

.container {
    opacity: .9;
}

h1 {
    color: white;
    text-align: center;
}

h2, h3, h4, h5 {
    color: white;
    text-align: center;
}

#headingRow {
    margin-top: 2px;
    height: 15px;
    text-align: center;
}

.row {
    margin-top: 15px;
}

#dataRow {
    margin-top: 0px;
}

#secondRow {
    background-color: #fff3e0;
}

#thirdRowBox {
    color: white;
}

#yourTotal {
    color: white;
}


/* #playerScore {
    background-color: rgb(74, 197, 156);
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 70px;
} */

#thirdRowBox2 {
    background-color: lightblue;
}

.jewelImages {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 110px;
}

.photo-active {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 125px;
}

.jewelImages:hover {
    opacity: .7;
}

#statusCon {
    background-color: peachpuff;
    height: 51vh;
}

#status {
    color: white;
    font-size: 100px;
    margin-top: -50px;
    
}
