html {
    height: 100%;
}

body {
    background-image: url("../images/diamonds.jpg");
    background-position: center;
    background-size: cover;
}

#secondRow {
    background-color: #fff3e0;
 
}

#thirdRowBox {
    background-color: rgb(74, 197, 156);
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 70px;
}

#yourTotal {
    background-color: rgb(74, 197, 156);
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 20px;
    margin-bottom: 15px;
}

#playerScore {
    background-color: rgb(74, 197, 156);
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 70px;
}

#thirdRowBox2 {
    background-color: lightblue;
}

.jewelImages {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 110px;
}

.jewelImages:hover {
    opacity: .7;
}

#status {
    color: white;
    font-size: 50px;
    background-color: rgb(74, 197, 156);
    text-align: center;
    font-size: 15px;
    width: 100px;
    height: 70px;
}