body {
    background-image: url("/assets/images/diamonds.jpg");
    background-position: center;
    background-size: cover;
   }

#secondRow {
    background-color: #fff3e0;
}

#thirdRowBox {
    background-color: rgb(74, 197, 156);
}

#thirdRowBox2 {
    background-color: lightblue;
}

.jewelImages {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 110px;
}